@{
    var emp = (List<Employee>)ViewData["Employee"];
}

<div class="text-center">
    <ul>
        @foreach(var e in emp)
            {
                <li> Employee Id: @e.EmployeeID , Employee Name: @e.EmployeeName</li>
            }
    </ul>
</div>
